body {
	padding-top: 100px;
	padding-bottom: 50px;
}

p, li, td, tr, th, label {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

ul {
	font-family: 'Oswald', sans-serif;	
}

table, td {
	vertical-align: middle;
}

.btn {
	font-family: 'Open Sans', sans-serif;
	margin: 10px;
}

.navbar-default .navbar-brand {
	font-family: 'Open Sans', sans-serif;
}

