body {
	padding-top: 100px;
	padding-bottom: 50px;
}

p, li, td, tr, th, label {
	font-family: 'Open Sans', sans-serif;
}

h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'Oswald', sans-serif;
}

ul {
	font-family: 'Open Sans', sans-serif;	
}

.btn {
	font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand {
	font-family: 'Open Sans', sans-serif;
}

