body {
	padding-top: 100px;
	padding-bottom: 50px;
}

p, li, td, tr, th, label, ul, .btn, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'Oswald', sans-serif;
}

#info {
	margin-bottom: 10px;
}

#timelineBtn {
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-default .navbar-brand {
	font-family: 'Open Sans', sans-serif;
}

#chgSem {
	margin-top: 10px;
}

#timelineJumbo {
	max-height: 200px;
}

